@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family:  sans-serif;
}
html {
	scroll-behavior: smooth;
  }
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oleo Script Swash Caps', cursive;
}
a {
	outline: none !important;
}
/*-----Header & Banner Starts-------*/

.navbar-brand {
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #808080;
	font-size: 26px;
}
.navbar-brand:hover {
	color: #ec6a7a;
}
.navbar-toggle {
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: RGBA(0, 0, 0, 0.48);
}


.main-banner {
  position: relative;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: #64586215;
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

 .banner-button a {
	border: rgb(204, 204, 204) 3px solid;
	padding: 5px 15px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
	font-size: 18px;
	margin-top: 500px;
	
}
.banner-button a:hover {
	background-color: #ccc;
	text-decoration: none;
	color: #000;
} 



  
.mynav {
	transition: all 0.8s ease-in;
	background: rgb(68, 51, 68) none repeat scroll 0% 0%;
}
.mynav li a {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.nav > li > a:focus, .nav > li > a {
	color: #E1DBDB;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	background-color: #665566;
	color: #fff;
	border-bottom: 2px solid #EB233C;
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 13px;
}

.main-header .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
  }
  
  .main-header .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
  }
  
  .main-header .drop-down li {
	min-width: 180px;
	position: relative;
	list-style: none;
  }
  
  .main-header .drop-down ul a {
	padding: 10px 20px;
	font-size: 16px;
	color: #ec6a7a;
  }
  
  .main-header .drop-down ul a:hover,
  .main-header .drop-down ul .active > a,
  .main-header .drop-down ul li:hover > a {
	color: #2b1e1f;
	font-size: 17px;
	text-decoration: none
  }
  
  .main-header .drop-down > a:after {
	content: "\f107";
	font-family: FontAwesome;
	padding-left: 10px;
  }
  
  .main-header .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
  }
  
  .main-header .drop-down .drop-down:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
  }
  
  .main-header .drop-down .drop-down > a {
	padding-right: 35px;
  }
  
  .main-header .drop-down .drop-down > a:after {
	content: "\f105";
	position: absolute;
	right: 15px;
  }
/*-----Header & Banner Ends-------*/

/*-----Features Starts-------*/
.features {
	padding: 100px 0px;
	float: left;
	width: 100%;
}
.icon-box {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0px;
	display: inline-box;
	border: rgba(204, 204, 204, 0.18) 1px solid;
	;
	border-radius: 50%;
	padding: 0px !important;
}
.icon-box i {
	line-height: 70px;
	font-size: 25px;
	color: #EB233C;
}
.feature-text {
	padding-left: 20px;
}
.feature-text h4 {
	color: rgb(68, 51, 68);
}

/*-----Features Ends-------*/


/*-----Portfolio or Work Starts-------*/

.portfolio {
	padding: 50px 0;
	background-color: rgba(235, 213, 235, 0.26);
	float: left;
	width: 100%;
}
.portfolio-item {
	margin-bottom: 10px;
}
.img-portfolio {
	margin: 0 auto;
	border-radius: 12px;
}
.img-portfolio:hover {
	opacity: 0.5;
}
.portfolio h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.view-more {
	padding: 12px 35px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: rgba(235, 35, 58, 0.767);
	margin-top: 20px;
}
.view-more:hover {
	text-decoration: none;
	color: #ffffff;
}

/*-----Portfolio or Work Ends-------*/
/* Clients Section
--------------------------------*/

.section-bg {
	padding: 60px 0;
	box-shadow: inset 0px 0px 12px 0px #ec6a791c;
  }
  .section-bg .section-header{
    text-align: center;
  }

  .wrapper{
	width: 100%;
  }
  .carousel{
	max-width: 1300px;
	margin: auto;
	padding: 0 30px;
  }
  .wrapper img{
width: 200px;
transition: all 0.4s ease-in-out;
  }
  .wrapper img:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  .carousel .card{
	color: #fff;
	text-align: center;
	margin: 20px 0;
	line-height: 250px;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  }
/*-----Call to action Starts-------*/
.call{
	padding-top: 50px;
}
.call-to-action { 
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(../images/background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.call-overlay {
	padding: 50px 0px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.subscribe-text {
	text-align: left;
}
.subscribe-text h3 {
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
	text-align: left;
}
.subscribe-button {
	padding: 12px 35px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 30px;
}
.subscribe-button:hover {
	text-decoration: none;
	color: #ffffff;
}
/*-----Call to action Starts-------*/

/*-----About Starts-------*/
.about {
	padding: 50px 0px;
	width: 100%;
	float: left;
}
.about h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.about-text p {
	font-size: 20px;
	font-weight: 300;
}
.counter-item h5 {
	margin: 0px !important;
	font-family: 'Work Sans', sans-serif;
}
.timer {
	color: #EB233C;
	font-size: 50px;
	font-weight: 200;
}
.block {
	padding-left: 0px !important;
}
/*-----About Ends-------*/


/*-----Contact Starts-------*/
.contact {
	background-color: rgba(204, 204, 204, 0.15);
	padding: 50px 0px;
	float: left;
	width: 100%;
}
.contact h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.contact-form {
	margin-top: 45px;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #242424;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	border-bottom: 2px solid #EB233C;
	resize: none;
	margin-top: 25px;
}
.form-control:hover, .form-control:focus {
	box-shadow: none;
	border-bottom: 2px solid #242424;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #242424 !important;
}
 input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
color: #242424 !important;
}
 input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
color: #242424 !important;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #242424 !important;
}
.contact-button {
	border: none;
	padding: 12px 35px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 30px;
}
.address {
	color: #242424;
	margin-top: 70px;
}
.address h4 {
	color: #EB233C;
	font-size: 22px;
}
.address p {
	font-size: 16px;
	font-weight: 500;
}
.email i {
	color: #EB233C;
	padding-right: 10px;
	font-weight: 400;
	font-size: 16px;
}
.email {
	padding-top: 15px;
}
footer {
	padding: 25px 0;
	text-align: center;
	width: 100%;
	float: left;
}
footer span.copyright {
	line-height: 40px;
	text-transform: none;
}
footer ul.quicklinks {
	margin-bottom: 0px;
}
footer ul.quicklinks a {
	color: #EB233C;
	line-height: 40px;
	text-decoration: none;
}
ul.social-buttons {
	margin-bottom: 0;
}
ul.social-buttons li a {
	background-color: #222;
	border-radius: 100%;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	outline: 0 none;
	transition: all 0.3s ease 0s;
	width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	background-color: #EB233C;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0 none;
}

/*-----Contact Starts-------*/

@media (min-width:0px) and (max-width: 600px) {
.bg-overlay {
	padding: 180px 0 120px;
}
.banner-text h2 {
	font-size: 35px;
}
nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	border-bottom: none;
	;
}
.features, .about, .portfolio, .contact, .testimonials {
	padding: 50px 0px;
}
}
